<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
							"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<?python
	import locale
	locale.setlocale(locale.LC_ALL, '')
?>
<head>
	<title></title>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
</head>
<body>
	<div id="sidebar"></div>
	<div id="getting_started">
		<h1>Reporte de Egresos por Devoluciones</h1>
		<h2>Del <span py:content="inicio.strftime('%A %d de %B de %Y').decode('cp1252')" />
		Al <span py:content="fin.strftime('%A %d de %B de %Y').decode('cp1252')" /></h2>
		<table>
			<caption>Devoluciones Pagadas</caption>
			<thead>
				<tr>
					<th>Afiliaci&oacute;n</th>
					<th>Nombre</th>
					<th>Concepto</th>
					<th>Fecha</th>
					<th>Cheque</th>
                    <th>Banco</th>
					<th>Monto</th>
				</tr>
			</thead>
			<tbody>
				<tr py:for="devolucion in devoluciones">
					<td py:content="devolucion.afiliado.id" />
					<td py:content="devolucion.afiliado.nombre, ' ', devolucion.afiliado.apellidos" />
					<td py:content="devolucion.concepto" />
					<td py:content="devolucion.fecha.strftime('%d/%m/%Y')" />
					<td py:content="devolucion.cheque" />
                    <td py:content="devolucion.banco" />
					<td py:content="locale.currency(devolucion.monto, True, True)" />
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="5">Total Pagado</th>
					<th py:content="locale.currency(sum(devolucion.monto for devolucion in devoluciones), True, True)" />
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>
