<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <title>Beneficio de Sobrevivencia ${sobrevivencia.id}</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
</head>
<body>
  <div id="getting_started">
    <h1>Beneficio de Sobrevivencia ${sobrevivencia.id}</h1>
    <h2>${sobrevivencia.afiliado.id} ${sobrevivencia.afiliado.nombre}
    ${sobrevivencia.afiliado.apellidos}</h2>
    <form action="${tg.url('/sobrevivencia/actualizar')}" method="post">
      <fieldset>
        <legend>Editar</legend>
        <input type="hidden" name="sobrevivencia" value="${sobrevivencia.id}" />
        <ol>
          <li>
            <label for="fecha">Fecha</label>
            <input name="fecha" class="fecha" value="${sobrevivencia.fecha.strftime('%d/%m/%Y')}" />
          </li>
          <li>
            <label for="monto">Monto</label>
            <input name="monto" value="${sobrevivencia.monto}" />
          </li>
          <li>
            <label for="cheque">Cheque</label>
            <input name="cheque" value="${sobrevivencia.cheque}" />
          </li>
          <li>
            <label for="banco">Banco</label>
            <input name="banco" value="${sobrevivencia.banco}" />
          </li>
          <li><input value="Actualizar" type="submit" /></li>
        </ol>
      </fieldset>
    </form>
  </div>
</body>
</html>
