<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
  <title>Control de Egresos &bull; Afiliado {afiliado.id}</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
</head>
<body>
  <div id="sidebar"></div>
  <div id="getting_started">
    <h1>${afiliado.id} ${afiliado.nombre} ${afiliado.apellidos}</h1>
    <table>
      <caption>Auxilios Funebres</caption>
      <thead>
        <tr>
          <th>Cheque</th>
          <th>Fecha</th>
          <th>Cobrador</th>
          <th>Monto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="auxilio in afiliado.auxilios">
          <td>${auxilio.cheque}</td>
          <td>${auxilio.fecha.strftime('%d/%m/%Y')}</td>
          <td>${auxilio.cobrador}</td>
          <td>${locale.currency(auxilio.monto, True, True)}</td>
          <td><a href="${tg.url('/auxilio/eliminar/{0}'.format(auxilio.id))}">Eliminar</a></td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>Ayuda Funebre</caption>
      <thead>
        <tr>
          <th>Cheque</th>
          <th>Fecha</th>
          <th>Pariente</th>
          <th>Monto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="funebre in afiliado.funebres">
          <td>${funebre.cheque}</td>
          <td>${funebre.fecha.strftime('%d/%m/%Y')}</td>
          <td>${funebre.pariente}</td>
          <td>${locale.currency(funebre.monto, True, True)}</td>
          <td><a href="${tg.url('/funebre/eliminar/{0}'.format(funebre.id))}">Eliminar</a></td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>Devoluciones</caption>
      <thead>
        <tr>
          <th>Cheque</th>
          <th>Concepto</th>
          <th>Fecha</th>
          <th>Monto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="devolucion in afiliado.devoluciones">
          <td>${devolucion.cheque}</td>
          <td>${devolucion.concepto}</td>
          <td>${devolucion.fecha.strftime('%d/%m/%Y')}</td>
          <td>${locale.currency(devolucion.monto, True, True)}</td>
          <td><a href="${tg.url('/devolucion/eliminar/{0}'.format(devolucion.id))}">Eliminar</a></td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>Beneficio de Sobrevivencia</caption>
      <thead>
        <tr>
          <th>Cheque</th>
          <th>Fecha</th>
          <th>Monto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="sobrevivencia in afiliado.sobrevivencias">
          <td>${sobrevivencia.cheque}</td>
          <td>${sobrevivencia.fecha.strftime('%d/%m/%Y')}</td>
          <td>${locale.currency(sobrevivencia.monto, True, True)}</td>
          <td>
            <a href="${tg.url('/sobrevivencia/eliminar/{0}'.format(sobrevivencia.id))}">Eliminar</a>
            <a href="${tg.url('/sobrevivencia/{0}'.format(sobrevivencia.id))}">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption>Seguro de Vida</caption>
      <thead>
        <tr>
          <th>Fallecimiento</th>
          <th>Fecha</th>
          <th>Monto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="seguro in afiliado.seguros">
          <td>${seguro.fallecimiento.strftime('%d/%m/%Y')}</td>
          <td>${seguro.fecha.strftime('%d/%m/%Y')}</td>
          <td>${locale.currency(seguro.monto(), True, True)}</td>
          <td>
            <form action="${tg.url('/seguro/mostrar')}">
              <fieldset>
                <input name="seguro" value="${seguro.id}" type="hidden" />
                <input value="Mostrar Detalle" type="submit" />
              </fieldset>
            </form>
            <a href="${tg.url('/seguro/eliminar/{0}'.format(seguro.id))}">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
