<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
<?python
    import os
    import locale

    locale_name = None
    if os.name == 'nt':
        locale_name = 'Spanish_Honduras.1252'
    else:
        locale_name = "es_HN.utf8"

    locale.setlocale(locale.LC_ALL, locale_name)
?>
<head py:match="head" py:attrs="select('@*')">
	<script type="text/javascript" src="${tg.url('/static/javascript/jquery.js')}"></script>
	<script type="text/javascript" src="${tg.url('/static/javascript/jquery-ui.js')}"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
	<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/form.css')}" />
	<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/ui-lightness/jquery-ui.css')}" />
	<link rel="stylesheet" type="text/css" media="print" href="${tg.url('/static/css/impresion.css')}" />
	<script type="text/javascript">
	$(document).ready(function()
	{
		$('.fecha').datepicker({
      dateFormat: 'dd/mm/yy',
      changeMonth: true,
      changeYear: true,
      yearRange: 'c-70:c+5'
    });
	});
	</script>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''" />
	<title py:replace="''">Your title goes here</title>
	<link py:for="css in tg_css" py:replace="ET(css.display())" />
	<link py:for="js in tg_js_head" py:replace="ET(js.display())" />
	<meta py:replace="select('*')" />
</head>

<body py:match="body" py:attrs="select('@*')">
	<div id="header">
		<h1>Gestor de Egresos</h1>
		<div id="navegacion">
			<a href="${tg.url('/')}">Inicio</a> |
      <a href="${tg.url('/filial')}">Filiales</a> |
			<span py:if="tg.identity.anonymous">| <a href="${tg.url('/login')}">Iniciar Sesi&oacute;n</a></span>
			<span py:if="not tg.identity.anonymous">| Bienvenido ${tg.identity.user.display_name}. <a href="${tg.url('/logout')}">Cerrar Sesi&oacute;n</a></span>
		</div>
		<form action="${tg.url('/afiliado')}" id="busqueda">
			<div>
				<label>Buscar Afiliado</label><input name="afiliado" /><input type="submit" value="Buscar" />
			</div>
		</form>
	</div>
	<div class="flash" py:if="tg_flash" py:content="tg_flash" />
	<div id="main_content">
		<div py:for="js in tg_js_bodytop" py:replace="ET(js.display())" />
		<div py:replace="select('*|text()')" />
		<div py:for="js in tg_js_bodybottom" py:replace="ET(js.display())" />
	</div>
	<div id="footer"><p class="copyright">Copyright 2008 -2010 Carlos Flores</p></div>
</body>

</html>
