<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''" />
	<title>Control de Ingresos</title>
	<link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
</head>

<body>
	<div id="sidebar"></div>
	<div id="getting_started">
		<u>
			<li><a href="#sobrevivencia">Beneficio de Sobrevivencia</a></li>
			<li><a href="#seguro">Seguro de Vida</a></li>
			<li><a href="#auxilio">Auxilio</a></li>
		</u>
		<div id="sobrevivencia">
			<h1>Beneficios de Sobrevivencia</h1>
			<form action="beneficio/agregar">
				<fieldset>
					<legend>Agregar</legend>
					<ol>
						<li>
							<label for="afiliado">Afiliaci&oacute;n</label>
							<input name="afiliado" />
						</li>
						<li>
							<label for="fecha">Fecha</label>
							<input name="fecha" class="fecha" />
						</li>
						<li>
							<label for="monto">Monto</label>
							<input name="monto" />
						</li>
						<li>
							<label for="cheque">Cheque</label>
							<input name="cheque" />
						</li>
						<li><input value="Agregar" type="submit" /></li>
					</ol>
				</fieldset>
			</form>
			<form action="beneficios/reporte">
				<fieldset>
					<legend>Mostrar Reporte</legend>
					<ol>
						<li>
							<label for="inicio">Fecha de Inicio</label>
							<input name="inicio" class="fecha" />
						</li>
						<li>
							<label for="final">Fecha de Cierre</label>
							<input name="final" class="fecha" />
						</li>
						<li><input value="Mostrar" type="submit" /></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div id="seguro">
			<h1>Seguro de Vida</h1>
			<form action="seguro/agregar">
				<fieldset>
					<legend>Agregar</legend>
					<ol>
						<li>
							<label for="afiliado">Afiliaci&oacute;n</label>
							<input name="afiliado" />
						</li>
						<li>
							<label for="fecha">Entrega</label>
							<input name="fecha" class="fecha" />
						</li>
						<li>
							<label for="fecha">Fallecimiento</label>
							<input name="fallecimiento" class="fecha" />
						</li>
						<li><input value="Agregar" type="submit" /></li>
					</ol>
				</fieldset>
			</form>
			<form action="beneficios/reporte">
				<fieldset>
					<legend>Mostrar Reporte</legend>
					<ol>
						<li>
							<label for="inicio">Fecha de Inicio</label>
							<input name="inicio" class="fecha" />
						</li>
						<li>
							<label for="final">Fecha de Cierre</label>
							<input name="final" class="fecha" />
						</li>
						<li><input value="Mostrar" type="submit" /></li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div id="auxilio">
			<h1>Auxilio</h1>
			<form action="auxilio/agregar">
				<fieldset>
					<legend>Agregar</legend>
					<ol>
						<li>
							<label for="afiliado">Afiliaci&oacute;n:</label>
							<input name="afiliado" />
						</li>
						<li>
							<label for="fecha">Fecha:</label>
							<input name="fecha" class="fecha" />
						</li>
						<li>
							<label for="monto">Monto:</label>
							<input name="monto" />
						</li>
						<li>
							<label for="cheque">Cheque:</label>
							<input name="cheque" />
						</li>
						<li><input value="Agregar" type="submit" /></li>
					</ol>
				</fieldset>
			</form>
			<form action="auxilio/reporte">
				<fieldset>
					<legend>Mostrar Reporte</legend>
					<ol>
						<li>
							<label for="inicio">Fecha de Inicio</label>
							<input name="inicio" class="fecha" />
						</li>
						<li>
							<label for="final">Fecha de Cierre</label>
							<input name="final" class="fecha" />
						</li>
						<li><input value="Mostrar" type="submit" /></li>
					</ol>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>
