<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
	<title></title>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
</head>
<body>
  <div id="sidebar"></div>
  <div id="getting_started">
    <h1>Seguro de Vida ${seguro.id}</h1>
    <h2>${seguro.afiliado.id} ${seguro.afiliado.nombre} ${seguro.afiliado.apellidos}</h2>
    <h3>Fallecimiento: ${seguro.fallecimiento.strftime('%d/%m/%Y')}</h3>
    <h3>Primera Entrega: ${seguro.fecha.strftime('%d/%m/%Y')}</h3>
    <table>
      <caption>Beneficiarios</caption>
      <colgroup width="20%">
        <col />
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <thead>	
        <tr>
          <th>Nombre</th>
          <th>Monto</th>
          <th>Cheque</th>
          <th>Banco</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="beneficiario in seguro.beneficiarios" id="beneficiario-${beneficiario.id}">
          <td>${beneficiario.nombre}</td>
          <td>${locale.currency(beneficiario.monto, True, True)}</td>
          <td>${beneficiario.cheque}</td>
          <td>${beneficiario.banco}</td>
          <td>${beneficiario.fecha}</td>
          <td><a href="${tg.url('seguro/beneficiario/eliminar/{0}'.format(beneficiario.id))}">Eliminar</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">Total:</th>
          <th colspan="2">${locale.currency(seguro.monto(), True, True)}</th>
        </tr>
      </tfoot>
    </table>
    <form action="beneficiario/agregar">
      <table>
        <colgroup width="20%">
          <col />
          <col />
          <col />
          <col />
          <col />
        </colgroup>
        <tr>
          <td><input name="nombre" id="nombre" /></td>
          <td><input name="monto" class="monto" id="monto" /></td>
          <td><input name="cheque" /></td>
          <td><input name="banco" /></td>
          <td><input name="fecha" class="fecha" /></td>
          <td>
            <input type="hidden" value="${seguro.id}" name="seguro" />
            <input type="submit" value="Agregar" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>
